@media (max-width: 1140px) {
    .container{
        padding: 0 15px;
    }
    #intro .right__img__block{
        margin-left: 20px;
    }
}

@media (max-width: 1091px) {
    #intro .right__img__block .intro__review{
        transform: translate(0, 0);
    }
    #aboutoursystem .section__inner .right__img__block{
        .section__review{
            left: 40%;
        }
        .imges{
            width: 500px;
            height: 480px;
        }
    }
    #lastweight .left__img__block{
        .section__review{
            right: 40%;
            top: -80px;
        }
        .calendar{
            right: 10%;
        }
    }
}

@media (max-width: 901px) {
    #intro{
        .section__inner{
            height: auto;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .section__headers{
            order: 1;
            margin-bottom: 50px;
        }
        .right__img__block{
            order: 2;
            
        }
    }

    #ourapp .section__inner{
        flex-direction: column;
        align-items: center;
        .left__img__block{
            margin-right: 0;
        }
    }
    #aboutoursystem .section__inner{
        flex-direction: column;
        align-items: center;
        .right__img__block{
            .section__review{
                left: 5%;
                top: 70%;
            }
        }
    }

    #lastweight{
        .section__inner{
            flex-direction: column;
            align-items: center;
        }
        .left__img__block{
            order: 2;

            .section__review{
                top: 0;
                right: 0;
            }
        }
    }
}

@media (max-width: 656px) {
    .header{
        padding-top: 20px;
        .bar{
            display: flex;
            z-index: 110;
        }
    }

    .nav{
        position: fixed;
        pointer-events: none;
        left: 0%;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.8s;
        z-index: 100;

        .link{
            font-size: 1.4rem;
            margin-bottom: 34px;
            text-align: center;
            left: -100%;
            transition: 0.1s;
            z-index: 10;
            
            & + .link{
                margin-left: 0;
            }
            
        }

        &:before, &:after{
            content: '';
            position: absolute;
            width: 230%;
            height: 230%;
            z-index: -2;
            transition: 0.4s;
        }
        &:before{
            background-color: $c_m;
            transform: translate(-100%, -100%) rotateZ(45deg);
            left: 0;
            top: 0;
        }
        &:after{
            background-color: $c_f;
            transform:  translate(100%, 100%) rotateZ(45deg);
            bottom: 0;
            right: 0;
        }

        &.mobile--active{
            opacity: 1;
            pointer-events: auto;
            .link{
                transition-delay: .36s;
                left: 0;
            }

            &:before{
                transform: translate(-50%, -50%) rotateZ(45deg);
            }
            &:after{
                transform:  translate(50%, 50%) rotateZ(45deg);
            }
        }
    }
    .section{
        padding: 50px 0;
        .section__headers{
            max-width: 100%;
            h1.title{
                font-size: 1.4rem;
                line-height: 2.1rem;
            }
        }
    }
    #intro{
        .right__img__block{
            margin-left: 0;
            .imges{
                max-width: 100%;
                position: relative;
                width: 360px;
                img{
                    max-width: 100%;
                    height: auto;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            .intro__rating{
                transform: translate(0px, -50%);
            }
            .bgsetka{
                transform: translate(-10px, -50%) rotateZ(45deg);
            }
            .intro__review{
                transform: translate(-70%, 0);
            }
        }
    }

    #partners{

        .content{
            justify-content: center;
            text-align: center;
            a{
                width: 100%;
                margin-bottom: 15px;
            }
        }
    }

    #ourapp{
        .left__img__block{
            max-width: 90%;
            height: auto;
            min-height: 90vw;

            .imges{
                max-width: 100%;
                min-height: 90vw;

                .bgsetka {
                    top: 0;
                    left: 0;
                }
                picture:nth-child(2) img {
                   top: 50%;
                   right: 0;
                   transform: translateY(-50%);
                }

                .mask{
                    max-width: 100%;
                    min-height: 90vw;
                    height: auto;
                    
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }

    #reviews__slider{

        .section__headers{
            flex-direction: column;
            justify-content: flex-start;
        }

        .slider{
            .slide{
                padding: 10px;
                min-width: 300px;
            }
        }

        .controlls{
            a{
                margin-left: 0;
                margin-right: 30px;
            }
        }
    }

    #aboutoursystem{
        overflow: hidden;
        .section__inner{
            

            .right__img__block .section__review{
                top: 80%;
                left: 40%;
            }
        }
    }

    #lastweight{
        overflow: hidden;
        .left__img__block{

            .section__review{
                top: 80%;
                right: 25%;
                z-index: 10;
            }
        }
    }

    #footer{
        .footer__menu{
            .tab{
                width: 100%;
                align-items: center;
                margin-bottom: 20px;
            }
        }
    }
}

@media (max-width: 405px) {
    .btn.btn--def{
        max-width: 120px;
        margin-left: 40px;
        padding: 10px 5px;
    }
    .section .section__headers{
        margin-bottom: 20px;
        .fortitle{
            margin-bottom: 15px;
        }

        .buttons{
            flex-direction: column;
            padding: 0;

            .btn{
                margin-bottom: 15px;
            }
        }

        
    }
    #intro{

        .section__headers{
            padding-left: 0;
            .reguser{
                margin-top: 25px;
                flex-direction: column;
                align-items: start;
            }
        }

        .right__img__block{
            margin-left: 0;
            .imges{
                width: 300px;
                height: 400px;
                margin-left: 0;
            }
            .intro__review{
                transform: translate(0%, -20%);
            }
            .intro__rating{
                transform: translate(-10px, -50%);
            }
            .bgsetka{
                display: none;
            }
        }
    }

    #lastweight .left__img__block .calendar{
        display: none;
    }
}